.header {
    margin-left: 10%;
}

input, select {
    display: block;
    width: 90%;
    margin: 10px auto;
}

.room-info {
    text-align: center;
}

#add-room-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-button{
    font-size: 50px;

}