/* TODO no idea why if following selector with css, is exported it not works */
.header {
    margin-left: 10%;
}

.user-info-text {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
    color: #000000;
    /* text-decoration: none; */
    line-height: normal;

    font-size: 1.25rem;
}

p {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: medium;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    /* text-decoration: none; */
    /* line-height: normal; */

    font-size: 1.25rem;
}

.header {
    display: flex;
    flex-direction: row;
}

#su-logo{
    margin-left: 20%;
}

.welcome-message {
    font-weight: normal;
    font-size: 1.25rem;
    margin-top: 20px;
}

.main-content {
    margin: 0rem 10rem ;

    min-width: 250px;
}

/* teacher name and user name style */
.name {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
    color: #000000;
    /* text-decoration: none; */
    line-height: normal;
}

.header img {
    width: 400px;
    height: 100px;
}

.rooms-container {
    display: grid;
    /* grid-template-columns: minmax(200px, 300px) auto auto auto; */
    /* grid-template-columns: repeat( auto-fit, minmax(500px, 1fr) ); */
    grid-template-columns: repeat( auto-fit, minmax(300px, 2fr) );
    background-color: #4daf7c;
    padding: 10px;
    width: 90%;
    min-height: 350px;
}
.room-information{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 20px;
    background-color: #4daf7c;
    min-height:480px;
}
#room_name, #room_subject {
    margin: 3px;
}

#timer-section{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 35%;
    height: 450px;
}

#timer-circle{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center; 
    background: lightblue;
    border-radius: 50%;
    border: 24px solid #24533b;
    -moz-box-shadow: 1px 0px 21px #000000;
    -webkit-box-shadow: 1px 0px 21px #000000;
    box-shadow: 1px 0px 21px #000000;

    width: 280px;
    height: 280px;

}

#timer{
    font-size: 70px;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 30px;
    color: #11251b;

}
#timer-title{
    font-weight: 600;
    color: #11251b;
    margin: 0;
    margin-bottom: 10px;
}

#queue, #room-message{
    width: 25%;
    height: 450px;
    margin-left: 5%;
    margin-top: -10px;
}


#message-box{
    width: 100%;
    height: 80%;
    background-color: lightblue;
    border-radius: 3%;
    padding: 10px;
    -moz-box-shadow: 1px 0px 21px #000000;
    -webkit-box-shadow: 1px 0px 21px #000000;
    box-shadow: 1px 0px 21px #000000;
}

.section-title{
    font-size: 25px;
    font-weight: 600;
    color: #24533b ;
}

.queue-element{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: lightblue;
    border: 2px solid #24533b;
    -moz-box-shadow: 1px 0px 21px #000000;
    -webkit-box-shadow: 1px 0px 21px #000000;
    box-shadow: 1px 0px 21px #000000
}

.user-image{
    height: 100%;
    width: 70px;
}

.name{
    margin: 5px;
    color: #11251b;
}
.number{
    margin: auto;
    margin-right: 10px;
    font-weight: 900;
    font-size: 1.7rem;
    color: rgb(2, 160, 2);
}

.room {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 7px;
    font-size: 30px;
    /* text-align: center; */

    margin: 5px;
    height: 120px;
    min-width: 280px;
    /* width: 50px; */
}

#logout{
    text-align: left;
    border-radius: 5px;
    background-color:  #3c835e;
    color: white;
    font-size: 16px;
    padding: 3px;
}
#logout:hover{
    background-color:#4daf7c;
    cursor: pointer;
}
#room-title{
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

#registrated{
    color:#019601;
    text-align: right;
    margin:0;
    margin-top: -20px;
    font-weight: 800;
} 

#room-subject, #room-place, #room-time, #room-date{
    margin: 0;

    text-align: left;
    font-size: 17px;
    font-weight: 500;
}

.add-room-button {
    background-color: rgba(255, 255, 255, 250);
    /* padding: 5px; */
    text-align: center;
    font-size: 5vw;
}

.add-room-button:hover {
    background-color: rgba(230, 230, 230, 230);
    font-size: 5.2vw;   /* TODO how to increase relative to the current font size, em ? */
}